body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('image.jpg'); /* Setting uploaded image as background */
  background-size: cover;  /* Cover the entire background */
  background-repeat: no-repeat;
  background-position: center;
  color: white; /* Set general text color to white for better readability */
}

header {
  background-color: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #ff5722; /* Orange-red, matching the flames from the image */
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form {
  background-color: rgba(255, 255, 255, 0.9); /* Light background with transparency */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%; /* Adjusted width of the form to be full width inside its container */
  max-width: 500px; /* Optional: Set a maximum width so the form doesn’t get too wide */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  color: black; 
}

form input, form textarea {
  width: 100%; /* Set input and textarea width to 100% to match form width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ff5722; /* Orange-red border */
  border-radius: 4px;
  background-color: #fff3e0; /* Soft cream color for input fields */
  color: black; /* Ensure inserted text is black */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

form button {
  padding: 10px 15px;
  background-color: #ff5722; /* Matching the flame tones */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  box-sizing: border-box;
  
}

#productTable {
  width: 100%;
  padding:10px;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: black; 
}

#productTable th, #productTable td {
  padding: 3px;
  text-align: left;
}

/* Add this CSS to style the logout button and position it below the table */
.logout-btn {
  padding: 5px 7px;
  background-color: #ff5722; /* Matching the flame tones */
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 20%; /* Make the button fill the available width */
  box-sizing: border-box; /* Include padding in the width calculation */
  text-align: center;
  margin-top: 10px; /* Adds space between the table and the button */
  font-size: 18px; /* Increase font size for better readability */
}

.logout-btn:hover {
  background-color: #e64a19; /* Slightly darker orange on hover */
}
